body {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  gap: 2vmin;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 110px);
}

.cell {

  width: 110px;
  height: 110px;
  border: 1px solid #333;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #808080;
}

.cell:hover:not(.filled) {
  background: #E5E4E2;
}

.cell.filled {
  cursor: default;
}
