:root {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  /* background: linear-gradient(90deg, #c6da5f, #fa7503); */
  background: linear-gradient(90deg, #f5c800, #d60303);
  /* height: 90vh; */
}

.main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}

.new_game_btn {
  border: 1px;
  padding: 5px 5px 5px 5px;
  background: #f5c800;
  font-size: 30px;
}

.new_game_btn:hover {
  background: #01a723;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 110px);
}

.cell {
  display: flex;
  width: 110px;
  height: 110px;
  border: 1px solid #333;
  font-size: 100px;
  font-weight: 1000;
  /* cursor: pointer; */
  align-items: center;
  justify-content: center;
  background: #f5c800;
}

.cell:hover:not(.filled) {
  background: #d60303;
}

.cell.filled {
  cursor: default;
}

#status_bar {
  display: flex;
  flex-direction: column;


  width: 400px;
  border: 1px solid #000;
  padding-left: 35px;
  background: #f5c800;

  font-weight: 600;
}

#status_bar:hover {
  background: #01a764;
}

#side {
  font-size: 30px;
}

#status {
  font-size: 15px;
}

#whos_moving {
  font-size: 15px;
}

#uuid {
  font-size: 15px;
}
