body {
  background: linear-gradient(90deg, #c6da5f, #fa7503);
  /* background: linear-gradient(90deg, #ffc800, #d60303); */
  /* height: 90vh; */
}

.main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}

.new_game_btn {
  /* border: 0px; */
  background: #01a7e5;
  font-size: 30px;
}

.new_game_btn:hover {
  background: #01a723;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 110px);
}

.cell {
  display: flex;
  width: 110px;
  height: 110px;
  border: 1px solid #333;
  font-size: 100px;
  font-weight: 1000;
  /* cursor: pointer; */
  align-items: center;
  justify-content: center;
  background: #23dfc5;
}

.cell:hover:not(.filled) {
  background: #01a7e5;
}

.cell.filled {
  cursor: default;
}

.status_bar {
  display: flex;
  flex-direction: column;


  width: 400px;
  border: 2px soid #000;
  padding-left: 35px;
  background: #01a7e5;

  font-weight: 700;
}

.status_bar:hover {
  background: #01a764;
}

.side {
  font-size: 30px;
}

.id {
  font-size: 15px;
}
